
{{> head }}
    
    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Hello {{ hello }}</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae officiis doloremque deleniti hic ullam optio, at porro. Praesentium nesciunt, alias necessitatibus sit accusantium laudantium nemo eveniet natus ab quaerat.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/bienvenida.gif" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>

   {{> footer }}